[submodule "cisco"]
	path = cisco
	url = https://github.com/ruralinnovation/cori.data.cisco.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/ruralinnovation/cori.data.rin.frontend.git
[submodule "coursera"]
	path = coursera
	url = https://github.com/ruralinnovation/cori.data.coursera.git
[submodule "map"]
	path = map
	url = https://github.com/ruralinnovation/rin-map.git
